/**index.wxss**/
.staff-entry {
  position: fixed;
  bottom: 0;
  z-index: 1;

  width: 128rpx;
  height: 128rpx;
  // background-color: white;
  opacity: 0;
}

.container {
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--info-color);
}

.icon-wrap {
  position: relative;
  .ble {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}